RewriteEngine on

RewriteCond %{REQUEST_URI} !\.cgi$
RewriteCond %{REQUEST_URI} !\.css$
RewriteCond %{REQUEST_URI} !\.gif$
RewriteCond %{REQUEST_URI} !\.jpg$
RewriteCond %{REQUEST_URI} !\.jpeg$
RewriteRule !wiki.cgi wiki.cgi [last]
