# sample configuration file

url prefix:         http://greenlightwiki.com/
logo file:          http://greenlightwiki.com/b5WikiLogo.gif
cookie domain:      .greenlightwiki.com
cookie path:        /
wiki directory:     TESTDATA
keywords:           wiki, green light wiki, unit test
stylesheet:         wiki.css
file directory:     TESTSTATIC
